.cars {
  text-align: center;
  /* height: 140vh; */
  background: #f6f6f6;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.subTitle {
  /* width: 50%; */
  margin: auto;
  color: #777;
}

.carsClassificationBox {
  margin: auto;
  padding: 30px 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.carType {
  border-radius: 0.4em;
  min-width: 130px;
  background: #f6f6f6;
  padding: 15px 20px;
  margin: 5px;
  border: 1px solid #f6f6f6;
  box-shadow: 1px 2px 10px -5px #7777776b;
  color: #6a52fe;
  background: #fff;
  font-weight: 800;
  outline: none;
  cursor: pointer;
}

.carType:hover,
.selectCarType {
  background: #6a52fef0;
  color: #fff;
  opacity: 0.8;
}

.carsSlider {
  width: 80%;
  margin: auto;
  /* border: 3px solid #333 ; */
}

/* Card */
.card {
  /* border: 3px solid #333 ; */
  min-width: 300px;
  display: flex;
  background: #fff;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 5px 8px -1px #ccc;
  margin: 15px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  border-bottom-right-radius: 2em;
  overflow: hidden;
  position: relative;
}

.card:hover {
  box-shadow: 4px 5px 8px -1px #ccc;
}

.cardLike {
  position: relative;
  margin: 0px;
}

.cardLike > i {
  position: absolute;
  right: 0px;
  margin: 5px;
  color: #ff0000;
}

.cardLike > img {
  width: 80px;
  position: absolute;
  left: 0px;
  color: #ff0000;
  font-weight: bold;
  font-size: 18px;
}

/* .cardInfo {
  padding-bottom: 10px;
} */
.card > img {
  margin-top: 30px;
  width: 100%;
  height: 200px;
  padding-right: 10px;
}

.carTypeCard {
  padding: 2px 10px;
  margin: 0px;
  position: absolute;
  background: #000000;
  border-radius: 22px;
  color: #fff;
}

.offerDate {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25px;
}

.cardPriceBook {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardPrice {
  width: 50%;

  /* display: flex;
  align-items: center; */
}

.cardPrice > div {
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.cardPrice > div > p {
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: #6a52fe;
}

.cardBook {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 15px; */
  background: #6a52fe;
  /* box-shadow: inset 10px 32px 30px -20px rgba(0, 0, 0, 0.75); */
  color: #fff;
  font-size: 18px;
  border: none;
  border-top-left-radius: 2em;
  outline: none;
  cursor: pointer;
}

.carsNumber {
  text-align: center;
  margin-top: 40px;
}

.carsNumber > span {
  color: #6a52fe;
  font-size: 18px;
  font-weight: bold;
}

@media only screen and (max-width: 576px) {
  .carsSlider {
    width: 100%;
  }
}
