.Connection {
  height: 640px;
  /* background: #F9F9F9; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* box-shadow: 0 5px 61px -13px #6a52fe; */
}

.ConnectionCard {
  border-radius: 1em;
  padding: 50px 100px;
  margin: auto;
  /* background: #ccc; */
  box-shadow: 0px 0px 5px -1px #6a52fe99;
}

.ConnectionCardForm {
  box-shadow: 0px 0px 5px -1px #6a52fe99;
  padding: 5px 10px;
  border-radius: 0.4em;
}

.ConnectionCardForm > input {
  border: none;
  outline: none;
  width: 70%;
}

.ConnectionCardForm > button {
  border: none;
  background: #6a52fe;
  color: #fff;
  height: 30px;
  width: 30%;
  /* padding: 10px; */
  /* border-radius: .25em; */
  border-top-right-radius: 0.35em;
  border-bottom-right-radius: 0.35em;
}

@media only screen and (max-width: 576px) {
  .ConnectionCard {
    padding: 20px 5px;
  }
  .ConnectionCardForm > input {
    width: 60%;
  }

  .ConnectionCardForm > button {
    width: 40%;
  }
}
