.about {
  text-align: center;
  /* width: 80%; */
  margin: auto;
  padding: 50px 0;
  /* background: #eee; */
  background: #f6f6f6;
}

.aboutP {
  color: #707070;
  width: 85%;
  margin: 1em auto;
}

.aboutService {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 50px auto;
}

.aboutService > div {
  padding: 10px 0;
  width: 310px;
  min-width: 300px;
}

.aboutServiceImg {
  width: 70px;
}
