.carBook {
  /* width: 70%;
  margin: 50px auto; */
  /* display: flex; */
  width: 100%;
  /* border: 3px solid salmon; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carBookContainer {
  width: 80%;
  /* border: 3px solid #333; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ***********************  Car Info  *********************** */

.carInfoBox {
  display: flex;
  width: 80%;
  height: 445px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: -12px 7px 6px -30px #9d9ba5, 0px 7px 21px -8px #9d9ba5;
  border-radius: 10px;
  margin-top: 10px;
}

.carInfoGallery {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 0;
}

.carInfoGallery > div {
  height: 120px;
  width: 120px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: 1px solid #a2a6ac;
  border-radius: 2px;
  padding: 3px;
}
.carInfoGallery > div:hover {
  box-shadow: -12px 7px 6px -30px #9d9ba5, 0px 7px 21px -8px #9d9ba5;
}

.carGalleryImage {
  width: 100%;
  height: 100%;
}

.carInfo {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carInfoImg {
  width: 100%;
  height: 300px;
}

.carInfoTitle {
  color: #696969;
  text-align: center;
  text-transform: capitalize;
  /* text-decoration: underline; */
}

.carInfoInfo {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.carInfoprice {
  color: #607d8b;
  font-weight: bold;
  font-size: 20px;
  display: block;
}

/* ***********************  Car Booking  *********************** */
.carBooking {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 5px;
  width: 80%;
}

.CBFull {
  width: 100%;
}

.CBFull > input {
  width: 100%;
}

.CBHalf {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.CBHalf > label {
  width: 50%;
}

.CBHRight {
  width: 50%;
}

.CBHleft {
  width: 48%;
}

.CBDText {
  width: 100%;
}

.CBlabel {
  color: #6a52fe;
  /* margin-top: 15px; */
  font-weight: bold;
  font-size: 20px;
}

.CBInput {
  height: 33px;
  margin: 5px 0 10px;
  border-radius: 7px;
  border: 1px solid #6a52fe;
  outline: none;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 5px;
}

.CBText {
  width: 100%;
  height: 100px;
}

.CBBtn {
  width: 100%;
  padding: 10px;
  border: none;
  background: #6a52fe;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border-radius: 0.2em;
  margin: 20px 0;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .carInfoBox {
    flex-direction: column;
    width: 100%;
  }
  .carInfoGallery {
    flex-direction: row;
    width: 100%;
    padding: 5px;
  }

  .carInfoBox {
    height: 570px;
  }
}

@media only screen and (max-width: 576px) {
  .carBookContainer {
    width: 90%;
  }
  .carInfo {
    width: 100%;
  }
  .carInfoImg {
    width: 100%;
  }
  .carInfoInfo {
    flex-direction: column;
  }

  .carBooking {
    width: 100%;
  }
  .CBlabel {
    font-size: 16px;
  }
  .CBInput {
    font-size: 12px;
  }
  .CBBtn {
    font-size: 16px;
  }
}
