.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #f6f6f6;
  position: relative;
}
.nav-bars-icon {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 25px;
  color: #000;
  display: none;
  cursor: pointer;
}

.navLogoLink {
  padding: 15px 0;
}

.navLogo {
  width: 180px;
  height: 70px;
  cursor: pointer;
}

.containerNavUL {
  display: flex;
  padding: 15px 0;
  align-items: center;
}

.navUL {
  list-style-type: none;
  /* margin-left: 200px; */
}

.navLi {
  display: inline;
  margin-left: 20px;
  cursor: pointer;
  color: #6a52fe;
  font-weight: bold;
}

.linkColor {
  color: #6a52fe;
}

.navLogin,
.navRegister {
  margin-left: 20px;
  width: 90px;
  height: 40px;
  background: none;
  border: 1px solid #6a52fe;
  border-radius: 0.25em;
  font-weight: bold;
  padding: 7px;
  text-align: center;
  cursor: pointer;
}

.navLogin {
  background-color: #6a52fe;
  color: #fff;
}

.navRegister {
  color: #6a52fe;
}

.navLR {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navIcon {
  padding: 15px 5px;
  color: #6a52fe;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  .nav-bars-icon {
    display: block;
  }
  .nav-bars-iconBarLight {
    color: #fff;
  }
  .navLogoLink {
    text-align: center;
  }
  .navLogoLinkBarDark {
    background-color: #333;
  }

  .containerNavUL {
    flex-direction: column;
    background-color: #333;
    display: block;
  }

  .containerNavULHidden {
    flex-direction: column;
    background-color: #333;
    display: none;
  }

  .navUL {
    margin: 10px auto;
    padding: 0;
  }
  .navLi {
    display: block;
    margin: 5px auto;
    text-align: center;
  }
  .navLR {
    /* flex-direction: column; */
    text-align: center;
    justify-content: center;
  }
  .navRegister {
    display: block;
    /* margin: 10px auto; */
  }
  .unLoginNavLR {
    margin: auto;
  }

  .navIcons {
    width: 100%;
  }
}
