.footer {
  background-image: url(/img/footer.png);
  /* height: 100%; */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upFooter {
  width: 85%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  /* margin-right: 200px; */
  padding-bottom: 30px;
}

.footerStore {
  width: 30%;
  min-width: 330px;
}

.footerStore > img {
  width: 200px;
}

.footerUL {
  list-style-type: none;
  padding-inline-start: 0;
}

.footerUL > li {
  color: #000;
}

.footerInfo {
  width: 70%;
  /* min-width: 590px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footerInfo > div {
  width: 30%;
  min-width: 160px;
}

/* Sub Footer  */

.SubFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 80px;
}

.SubFSocial > i {
  margin: 5px;
}

@media only screen and (max-width: 576px) {
  .footerStore {
    text-align: center;
  }
  .footerInfo > div {
    text-align: center;
  }
}
