.wayRent {
  text-align: center;
  /* height: 640px; */
  padding: 20px;
  box-shadow: 0 5px 61px -13px #6a52fe;
}

.subTitle,
.WRCSubTitle {
  /* width: 50%; */
  margin: auto;
  color: #777;
}

.wayRentComponent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  padding-top: 50px;
}

.wayRentComponent > div {
  min-width: 255px;
  margin: 30px auto;
}

.WRCSubTitle {
  width: 80%;
}
